h1, h2 { 
        color: rgba(3, 150, 100,.3) ; 
        font-size: 200%;
       }
* { line-height: 1.53m ;
    font-family: alegreya;
    text-align: center;
  }

p { min-width: 200;
    max-width: 800;
    font-family: "Times New Roman" ; 
    text-decoration-style: dotted;
   }

ol,ul { font-style: oblique;
       text-align: center;
       font-size: 30px
       
      }
a {
    color : darkseagreen;
  }

img {  
    border-radius: 100%
    }


/* killing it */  